

h1{
  font-size: 25px;  
    font-family: sans-serif;
  
}


.nav { text-align: left; background:darkkhaki; line-height: 35px; }

.nav_text {
    padding: 4px; padding-right: 25px;
     font:sans-serif; font-size: 16px;
    color: #556B2F;
    text-decoration:none;
    
}
a:hover{
    font-family: sans-serif;
    color: #000000;
    text-decoration: none;
}

a{
    
    
    
    font-family: sans-serif;
}


ul
{
list-style-type:none;
margin:0;
padding:0;
}
